include pyproject.toml
include *.md
include LICENSE.md
recursive-include tests test*.py
graft src/selenium_injector/files/js
graft src/selenium_injector/files/extension
graft src/selenium_injector/files/tmp/injector_extension


